*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:system-ui,Segoe UI;
  background:#2563eb;
  color:#0f172a;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:16px 20px;
}

.logo{
  height:55px;
}

/* DARK MODE BUTTON */
#darkToggle{
  background:#1e40af;
  border:none;
  color:white;
  width:42px;
  height:42px;
  border-radius:50%;
  font-size:18px;
}

/* PAGE */
.page{
  display:none;
  min-height:calc(100vh - 80px);
  justify-content:center;
  align-items:center;
  padding:16px;
}

.page.active{
  display:flex;
}

/* CARD */
.card{
  background:white;
  width:100%;
  max-width:380px;
  padding:26px;
  border-radius:26px;
  text-align:center;
  box-shadow:0 25px 50px rgba(0,0,0,.3);
}

/* TEXT */
.title{
  font-size:26px;
  margin-bottom:4px;
}

.subtitle{
  font-size:14px;
  opacity:.7;
  margin-bottom:16px;
}

/* IMAGE */
.hero{
  width:120px;
  margin:12px auto 18px;
  display:block;
}

/* BUTTONS */
button{
  width:100%;
  padding:15px;
  margin-top:12px;
  border-radius:22px;
  border:none;
  background:#4f46e5;
  color:white;
  font-size:16px;
  font-weight:600;
}

button.outline{
  background:white;
  color:#4f46e5;
  border:2px solid #4f46e5;
}

button.danger{
  background:#dc2626;
}

button.back{
  background:#334155;
}

/* LIST */
.list{
  text-align:left;
  padding-left:18px;
}

/* TEXTAREA */
textarea{
  width:100%;
  height:120px;
  border-radius:16px;
  border:1px solid #c7d2fe;
  padding:12px;
}

/* DARK MODE */
.dark body{
  background:#020617;
}

.dark .card{
  background:#0f172a;
  color:white;
}

.dark textarea{
  background:#020617;
  color:white;
}
